<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaYB61-v76i8YsNzooyGT8YXcE8IzogVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>408031536536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-auth-ap-cd0bd</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-auth-ap-cd0bd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408031536536:ios:f9505c851c3860ccce77ed</string>
</dict>
</plist>